# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# expo
.expo/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dependencies
/node_modules


# In progress
/ExampleApp